LLM_URL=http://localhost:11434/api/generate
LLM_MODEL=qwen2:7b
LLM_REQUEST_TEXT_FIELD=prompt
LLM_REQUEST_MODEL_FIELD=model
LLM_RESPONSE_FIELD=response
COMMENTS_SERVICE_URL=http://localhost:8007
RESOURCE_SERVICE_URL=http://localhost:8000
TOP_MOVIES_LIMIT=5
TOP_MOVIES_PERIOD_SECONDS=86400
